.cart-page {
  --cart-footer-height: 3.5rem;
}

.cart-page {
  height: 25rem;
}

.cart-page:has(.cart-empty) {
  height: auto;
}

.cart-page h2 {
  margin: 1rem;
}

.cart-items {
  height: calc(100% - var(--cart-footer-height));
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-direction: row;
  overflow-x: auto;
  /* padding-bottom: 1rem; */
  padding: 2rem;
  border: 1px solid #b6acac;
  border-radius: 10px;
  grid-gap: 2rem;
}

@media screen and (max-width: 2400px) {
  .cart-items {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1220px) {
  .cart-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 968px) {
  .cart-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .cart-items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 576px) {
    .cart-page:has(.cart-empty) +div{
      margin-top: 0;
    }
}

/* .cart-items::-webkit-scrollbar, .cart-items::-webkit-scrollbar-track, .cart-items::-webkit-scrollbar-thumb, .cart-items::-webkit-scrollbar-button{
  height: 1rem;
} */

.cart-items::-webkit-scrollbar-thumb {
  background-color: red;
}

.cart-empty {
  height: calc(100% - var(--cart-footer-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-footer,
.cart-items {
  width: 100%;
}

.cart-footer {
  display: flex;
  height: var(--cart-footer-height);
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}

.checkout-button,
.total-display {
  font-size: 1.15em;
}

.total-display {
  display: inline-block;
  margin-right: 1.5rem;
}

.checkout-button {
  padding: 0.25rem;
  border-radius: 5px;
}

@media screen and (max-width: 576px) {
  .cart-actions {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .cart-actions > p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .cart-footer {
    height: auto;
  }

  /* .cart-page {
    height: auto;
  } */
}

@media screen and (max-width: 375px) {
  .cart-items {
    padding: 0.5rem;
  }
}
