.overlay:has(+ div.cart-open) {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.main-div:has(div.modal.cart-open) {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.modal {
  display: none;
}

.modal.cart-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 50%;
  height: 50%;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 1;
}

.cart-body {
  flex: auto;
  overflow-y: auto;
}

.cart-toolbar {
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn,
.close-btn img {
  height: 2rem;
  width: 2rem;
}

.close-btn {
  cursor: pointer;
}

.cart-body.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  .modal.cart-open {
    width: 60rem;
    height: 65%;
  }
}

@media screen and (max-width: 768px) {
  .modal.cart-open {
    width: 80%;
    height: 65%;
  }
}
@media screen and (min-width: 768px) {
  .modal.cart-open {
    width: 80%;
    height: 65%;
  }
}

@media screen and (max-width: 576px) {
  .overlay {
    display: none;
  }

  .modal.cart-open {
    position: fixed;
    top: 5rem;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .close-btn {
    display: none;
  }
}

.cart-item {
  display: flex;
  justify-content: space-between;
}

.cart-item .item-details {
  display: flex;
}

.cart-item img {
  height: 5rem;
  width: 5rem;
}

.item-quantity{
  margin-left: 2rem;
}
