.overlay:has(+ div.open) {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.main-div:has(div.modal.open) {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.modal {
  display: none;
}

.modal.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 50%;
  height: 50%;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 10%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 1;
}

.cart-body {
  flex: auto;
  overflow-y: auto;
}

.cart-toolbar {
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c2bbbb;
  border: none;
}

.close-btn:hover {
  background-color: #b6acac;
}
.close-btn:active {
  background-color: #afa9a9;
}

.close-btn,
.close-btn img {
  height: 2rem;
  width: 2rem;
}

.close-btn {
  cursor: pointer;
}

.cart-body.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  border: 1px solid black;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

.cart-item .item-details {
  display: flex;
}

.cart-item img {
  height: 5rem;
  width: 5rem;
  border-radius: 10%;
}

.item-quantity {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item-quantity button {
  width: 5rem;
  background-color: #afa9a9;
  border: none;
  padding: 0.25rem;
  border-radius: 1rem;
}

.item-quantity button:hover {
  background-color: #c2bbbb;
}

/* -------------CART FOOTER---------------- */

.cart-footer {
  height: 3em;
  display: flex;
  background-color: #b6acac;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-radius: 5px;
}

.cart-footer button {
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
}

.cart-footer img {
  height: 0.75rem;
  width: 0.75rem;
}

@media screen and (min-width: 576px) {
  .modal.open {
    width: 60rem;
    height: 65%;
  }
}

@media screen and (max-width: 768px) {
  .modal.open {
    width: 80%;
    height: 80%;
  }
}
@media screen and (min-width: 768px) {
  .modal.open {
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 576px) {
  .overlay {
    display: none;
  }

  .modal.open {
    position: fixed;
    top: 5rem;
    left: 0;
    height: calc(100% - 5rem);
    width: 100%;
    border-radius: 0;
  }

  .close-btn {
    display: none;
  }

  .cart-item {
    padding: 10px;
    height: 100px;
  }

  .cart-item .item-details {
    display: flex;
    align-items: center;
  }

  .cart-item img {
    height: 3rem;
    width: 3rem;
  }

  .delete-button {
    font-size: 0.75rem;
  }

  .item-quantity {
    display: flex;
    font-size: 12px;
  }

  .item-quantity p {
    margin-bottom: 8px;
  }
}

.checkout-open {
  display: none;
}
