.catalogue {
  height: calc(100%);
  overflow-y: auto;
}

.catalogue-container {
  height: calc(100% - 5rem);
}

.products-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  padding: 1.5rem 0;
}

.catalogue-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.catalogue-container::-webkit-scrollbar-thumb {
  background-color: #b6acac;
  outline: 1px solid slategrey;
}

.no-products {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .products-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .toolbar input{
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Toolbar styles below */

.toolbar {
  display: flex;
  justify-content: end;
  height: 3rem;
  padding: 0.5rem;
}

/* catalogue item below */

.products-container li {
  width: 100%;
  list-style-type: none;
  /* background-color: yellow; */
  height: 25rem;
}

.catalogue-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  border: 2px solid #b6acac;
  border-radius: 10%;
}

.img-cont {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cont img {
  width: 190px;
  height: 255px;
  border-radius: 10%;
}
.catalogue-item p {
  font-size: 1.25rem;
}

.catalogue-item form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1.5rem;
  font-size: 1.25rem;
}

.catalogue-item form button {
  font-size: 1rem;
  padding: 0.5rem;
}

.catalogue-item form > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-price img {
  height: 0.5rem;
  display: inline-block;
  margin-right: 0.25rem;
}

.add-to-cart,
.step-counter {
  margin-right: 1rem;
  border: none;
  padding: 0.25rem;
  border-radius: 10%;
  background-color: #e2dada;
  height: 2.5rem;
}

.add-to-cart:hover {
  background-color: #afa9a9;
  cursor: pointer;
}

.add-to-cart:active {
  outline: 0.2px solid black;
}

.step-counter {
  display: flex;
  align-items: center;
}

.step-counter span {
  margin: 0 0.5rem;
}

.step-counter button {
  flex: auto;
  width: 2rem;
  border: none;
}

.step-counter button {
  background-color: #b6acac;
  border-radius: 10%;
}

.step-counter button:hover {
  background-color: #afa9a9;
}

.step-counter button:active:not([disabled]) {
  outline: 0.2px solid black;
}

.step-counter button[disabled] {
  cursor: not-allowed;
}
